body {
    background-image: url(../images/112257.jpg);
}
#spiral {
    -moz-transform:rotate(-200deg);
    -webkit-transform:rotate(-200deg);
    opacity: 100;
}
#ff {
    -moz-transform:rotate(200deg);
    -webkit-transform:rotate(200deg);
    background-image: url(../images/firefoxlogo.png);
    height: 288px;
    opacity: 100;
    width: 300px;
}
