body {
    background-image: url(../images/mozillalogo.png);
}
#spiral {
    -moz-transform:rotate(-1000deg);
    -webkit-transform:rotate(-1000deg);
    opacity: 0;
}
#ff {
    -moz-transform:rotate(1000deg);
    -webkit-transform:rotate(1000deg);
    background-image: url(../images/firefoxmini.png);
    height: 92px;
    opacity: 100;
    width: 96px;
}
